In [1]:
from plotapi import Chord
import numpy as np
import plotly.express as px
import pandas as pd


Chord.set_license('mirko.forastiere@gmail.com', 'PLOTAPI-P-7c64e02f-d01c-47ff-92c2-1fd6caeae0da')

In [2]:
q_df = pd.read_excel('./consumption.xlsx').rename(columns={'Prey \ predator':'FG', 'Unnamed: 0':'id'})
name_numberdic = {i:q_df['Group'][i-1] for i in q_df['id']}
q_df = q_df.set_index('id').drop(columns=['FG','Group'])

In [3]:
df = q_df.rename(columns=name_numberdic, index=name_numberdic)
long_df = df.stack().reset_index()
cross_df = pd.crosstab(long_df['id'], long_df['level_1'], values=long_df[0], aggfunc='sum').fillna(0)
cross_df = cross_df / cross_df.max().max()
cross_df = np.round(cross_df, 3)
cross_df['Producers'] = [0 for i in range(12)]
cross_df = cross_df[cross_df.index.values]
dropping = ['Birds','Chondrichthyes','Marine Mammals','Turtles']
cross_df = cross_df.drop(columns=dropping, index=dropping)
mtx = cross_df.values.tolist()
names = cross_df.index.values.tolist()

In [4]:
cross_df

level_1,Bacteria,Benthos,Cephalopods,Decapods,Detritus,Osteichthyes,Plankton,Producers
id,,,,,,,,
Bacteria,0.000,0.155,0.000,0.022,0.266,0.034,0.218,0
Benthos,0.000,0.209,0.086,0.054,0.925,0.372,0.000,0
Cephalopods,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0
Decapods,0.000,0.000,0.000,0.032,0.046,0.000,0.000,0
Detritus,0.247,0.852,0.000,0.194,0.111,0.412,0.297,0
Osteichthyes,0.000,0.000,0.000,0.000,0.393,0.000,0.050,0
Plankton,0.000,0.000,0.000,0.058,0.610,0.288,0.469,0
Producers,0.000,1.000,0.000,0.000,0.806,0.102,0.899,0

In [5]:

Chord(mtx, names, 
    directed=True,
    padding=0.1,
    inner_radius_scale=0.4, 
    wrap_labels=True,
    popup_enabled=False,
    symmetric=False,
    colors='green_blue'
    
    ).to_html('chord.html')